# Assignments 2


1. Buatlah suatu list kosong bernama `numbers`. Lalu, buatlah loop yang secara otomatis menambahkan nomor 1-10 ke list tersebut. 
  * Hint: Gunakan function `range()` untuk melakukan loop selama `n` kali

2. Tambahkan setiap nilai numbers sebanyak 2.

3. Cek untuk setiap angka ganjil, apabila ganjil tambahkan angka 1.

4. Hapus semua angka yang lebih kecil dari 5 di list.
  * Hint: Gunakan function `remove()`

5. Print semua nilai isi di list dengan format:
  * Angka ke-(index) bernilai (angka)
  * Misal: Angka ke-0 bernilai 10

6. Print semua angka yang habis dibagi 2, dengan format:
  * Angka ke-(index) bernilai (angka)
  * Misal: Angka ke-0 bernilai 10

In [ ]:
# Jawaban No. 1
numbers =[]

for i in range(1,11):
  numbers.append(i)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Jawaban No. 2
numbers_plus_2 = [i + 2 for i in numbers]

print(numbers_plus_2)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
# Jawaban No. 3
numbers_ganjil = [i for i in numbers if i % 2 == 1]
numbers_ganjil_plus_1 = [i + 1 for i in numbers if i % 2 == 1]

print(numbers_ganjil)
print(numbers_ganjil_plus_1)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [ ]:
# jawaban No. 4
# opsi pertama: pake array baru
numbers_baru = []

for i in numbers:
  numbers_baru.append(i)
  if i < 5:
    numbers_baru.remove(i)

print(numbers_baru)

# opsi kedua: pakai slicing
print(numbers[4:])

[5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10]

In [ ]:
# Jawaban No. 5
for index, element in enumerate(numbers):
  print(f'Angka ke-{index} bernilai {element}')

Angka ke-0 bernilai 1
Angka ke-1 bernilai 2
Angka ke-2 bernilai 3
Angka ke-3 bernilai 4
Angka ke-4 bernilai 5
Angka ke-5 bernilai 6
Angka ke-6 bernilai 7
Angka ke-7 bernilai 8
Angka ke-8 bernilai 9
Angka ke-9 bernilai 10

In [ ]:
# Jawaban No. 6
for index, element in enumerate(numbers):
  if element % 2 == 0:
    print(f'Angka ke-{index} bernilai {element}')

Angka ke-1 bernilai 2
Angka ke-3 bernilai 4
Angka ke-5 bernilai 6
Angka ke-7 bernilai 8
Angka ke-9 bernilai 10